&uart4 {
	/delete-property/ wakeup-source;
};

/ {
	power-states {
		runtime_idle: runtime-idle {
			compatible = "zephyr,power-state";
			power-state-name = "runtime-idle";
			min-residency-us = <10000>;
			exit-latency-us = <1000>;
		};

		suspend_to_idle: suspend-to-idle {
			compatible = "zephyr,power-state";
			power-state-name = "suspend-to-idle";
			min-residency-us = <3000000>;
			exit-latency-us = <10000>;
		};
	};
};

&cpu0 {
	cpu-power-states = <&runtime_idle &suspend_to_idle>;
};
